@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sidebar-icon {
    @apply relative flex items-center justify-center
            h-12 w-12 mt-2 mb-2 mx-auto shadow-lg
            bg-gray-800 text-rose-500
            hover:bg-rose-600 hover:text-jonquil
            rounded-3xl hover:rounded-xl
            transition-all duration-300 ease-linear;
  }
  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-14
    rounded-md shadow-md
    text-white bg-gray-900
    text-xs font-bold
    transition-all duration-100 scale-0 origin-left;
  }
  .footer-icon {
    @apply relative flex items-center justify-center
            h-8 w-8 mt-2 mb-2 mx-auto shadow-lg
            bg-gray-800 text-teal-500
            hover:bg-teal-600 hover:text-salsa
            rounded-3xl hover:rounded-xl
            transition-all duration-300 ease-linear;
  }
  .footer-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-14
    rounded-md shadow-md
    text-white bg-gray-900
    text-xs font-bold
    transition-all duration-100 scale-0 origin-left;
  }
  .card-container {
    @apply text-5xl;
  }
  .card-container::-webkit-scrollbar {
    @apply w-[10px] h-[10px];
  }
  .card-container::-webkit-scrollbar-thumb {
    @apply bg-gradient-to-r from-moss to-veronese shadow-inner rounded-sm;
  }
  .card-container::-webkit-scrollbar-track {
    @apply bg-gradient-to-r from-moss to-veronese;
  }
  .card:hover {
    @apply -translate-y-4;
  }
  .card:hover ~ .card {
    @apply translate-x-32;
  }
  .card:not(:first-child) {
    @apply -ml-32;
  }
}
.card-header {
  margin-bottom: auto;
}

.card-header p {
  font-size: 14px;
  margin: 0 0 1rem;
  color: #7a7a8c;
}

.card-header h2 {
  font-size: 20px;
  margin: 0.25rem 0 auto;
  text-decoration: none;
  color: inherit;
  border: 0;
  display: inline-block;
  cursor: pointer;
}

.card-header h2:hover {
  background: linear-gradient(90deg, #ff8a00, #f43f5e);
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.card-author {
  margin: 3rem 0 0;
  display: grid;
  grid-template-columns: 75px 1fr;
  align-items: center;
  position: relative;
}
.favicon {
  grid-area: auto;
  align-self: start;
  position: relative;
  box-sizing: border-box;
}
.favicon img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  filter: grayscale(100%);
  display: block;
  overflow: hidden;
  margin: 16px 10px;
}
.half-circle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 48px;
  fill: none;
  stroke: #ff8a00;
  stroke-width: 8;
  stroke-linecap: round;
  pointer-events: none;
}
.author-name {
  grid-area: auto;
  box-sizing: border-box;
  font-size: 1rem;
}

.author-name-prefix {
  font-style: normal;
  font-weight: 700;
  color: #7a7a8c;
  font-size: 1rem;
}

.tags {
  margin: 1rem 0 2rem;
  padding: 0.5rem 0 1rem;
  line-height: 2;
  margin-bottom: 0;
}

.tags a {
  font-style: normal;
  font-weight: 700;
  font-size: 0.5rem;
  color: #7a7a8c;
  text-transform: uppercase;
  font-size: 0.66rem;
  border: 3px solid #28242f;
  border-radius: 2rem;
  padding: 0.2rem 0.85rem 0.25rem;
  position: relative;
}

.tags a:hover {
  background: linear-gradient(90deg, #ff8a00, #e52e71);
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone;
  background-clip: text;
  border-color: white;
}

/* .light {
  --bg: var(--gray0);
  --text: var(--gray6);
  --border-color: var(--green);
  --bg-solar: var(--gold);
}
.dark {
  --bg: var(--gray5);
  --text: var(--gray0);
  --border-color: var(--forest);
  --bg-solar: var(--salsa);
} */
/* .solar {
  --gray0: #fbffd4;
  --gray1: #f7f8d0;
  --gray2: #b6f880;
  --gray3: #5ec72d;
  --gray4: #3ea565;
  --gray5: #005368;
  --gray6: #003d4c;
} */
/* 
body {
  margin: 0;
  padding: 0;
  color: var(--text);
  background: var(--bg);
  transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}

a {
  color: currentColor;
  text-decoration: none;
} */
